body{
    background-image: url("./background.jpg");
    background-size: cover;
}
.knewave-regular{
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    color: red;
}
.button{
   background: red;
} 
  #gifs-display img {
    border-radius: 8px;
    padding: 5px;
    height: auto;
  }